* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    overflow-x: hidden;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::-webkit-scrollbar {
    display: none;
}

.header, .subheader {
    width: 100%;
    min-height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: relative;
    background-color: #3a466f;
    color: white;
}

#head {
    height: 100px;
    background-color: #192142;
}

.title {
    position: relative;
}

.subheader {
    background-color: var(--main-color);
    color: black;
    margin-top: 70px;
}

.subtitle {
    bottom: 10px;
    font-size: small;
}

.landing-img {
    max-height: calc(100vh - 150px);
    max-width: 90%;
    border-radius: 20px;
}

.background {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: max(40%, 400px);
    padding-bottom: 4%;
}

.cards-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
    flex-wrap: wrap;
}

.card-img {
    width: 200px;
    border-radius: 5px;
    border: 2px solid black;
}

.card-img:hover {
    width: 700px;
    max-width: 60%;
}

.list-container, .description, .list-container-column {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 6%;
    margin-top: 5%;
}

video {
    display: block;
    margin: 0 auto;
}

.description {
    flex-direction: column;
}

.list-container-column {
    flex-direction: column;
}

li {
    margin-top: 5px;
}

li:first-child {
    margin-top: 0px;
}

a {
    color: inherit;
}

.spacer {
    height: 30px;
}

.indented {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

#sketch {
    margin-bottom: 3%
}

#small {
    width: 100px;
}

#small:hover {
    width: 200px;
    max-width: 60%;
}

#fix {
    width: 85%;
    margin-left: 5%;
    margin-bottom: 0;
    margin-top: 5px;
    justify-content: flex-start;
}

#fix2 {
    margin-bottom: 100px;
}

#proto {
    width: auto;
    height: 100px;
    margin-bottom: 10px;
}

#proto:hover {
    max-width: 100%;
    height: 400px;
    max-height: 70%;
}

#trim {
    margin-top: 0;
}

#trim2 {
    margin-bottom: 2%;
}

#trim3 {
    margin-bottom: 1%;
}

#trim {
    margin-top: 0;
}

#trim4 {
    margin-top: 0;
    margin-bottom: 5px;
}

#sketch2 {
    margin-top: 2%;
    margin-bottom: 3%;
}